<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 龙江云农业</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/site.js"></script>
</head>
<body>
    <div class="left-sidebar">
        <div class="sidebar-subtitle">基本信息管理</div>
        <a href="#"><div class="sidebar-menu">站点参数</div></a>
        <a href="#"><div class="sidebar-menu">分类管理</div></a>
        <a href="#"><div class="sidebar-menu">评论管理</div></a>
        <div class="sidebar-subtitle">用户管理</div>
        <a href="#"><div class="sidebar-menu">用户管理</div></a>
        <a href="#"><div class="sidebar-menu">地区管理</div></a>
        <div class="sidebar-subtitle">商城管理</div>
        <a href="#"><div class="sidebar-menu">商品管理</div></a>
        <a href="#"><div class="sidebar-menu">加盟管理</div></a>
        <a href="#"><div class="sidebar-menu">订单管理</div></a>
        <a href="#"><div class="sidebar-menu">配送报表</div></a>
        <a href="#"><div class="sidebar-menu">财务报表</div></a>
        <div class="sidebar-subtitle">农机服务</div>
        <a href="#"><div class="sidebar-menu">信息管理</div></a>
        <div class="sidebar-subtitle">本地通</div>
        <a href="#"><div class="sidebar-menu">信息管理</div></a>
        <div class="sidebar-subtitle">其它操作</div>
        <a href="#"><div class="sidebar-menu">退出系统</div></a>
    </div>
    <div class="container">
        <div class="wrap-cont">
            @RenderBody()
        </div>
    </div>
</body>
</html>