
@{
    ViewBag.Title = "操作成功";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 龙江云农业</title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="#2a3b52">
    <div class="info">
        <h2>操作成功</h2>
        <p>您执行的操作已经成功，您可通过下面的按钮进行跳转！</p>
        <p>

        </p>
    </div>
    <div class="footer">
        Copyright © 2015 Snow Light Information Technology Co., Ltd. All rights reserved.
    </div>
</body>
</html>