
@{
    ViewBag.Title = "评论管理";
}

<h2>评论管理</h2>
<div class="search">
    检索：
    <select>
        <option value="">评论类别</option>
        <option>商品评论</option>
        <option>本地通评论</option>
    </select>
    <input type="text" class="textbox datetime" name="Begin" placeholder="起始时间" />
    <input type="text" class="textbox datetime" name="End" placeholder="结束时间" />
    <input type="submit" class="button blue" value="检索" />
</div>