
@{
    ViewBag.Title = "农机服务";
    ViewBag.Refresh = true;
    ViewBag.Back = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")

<div class="wrap-cont">
    <a href="/Mobile/MService/Service?Machine=true">
        <div class="list-outer">
            <i class="fa fa-wrench"></i> 农机找活
        </div>
    </a>
    <a href="/Mobile/MService/Service">
        <div class="list-outer">
            <i class="fa fa-search"></i> 土地找机手
        </div>
    </a>
    <a href="/Mobile/MService/Station">
        <div class="list-outer">
            <i class="fa fa-cogs"></i> 维修站
        </div>
    </a>
    <a href="/Mobile/MService/Machine">
        <div class="list-outer">
            <i class="fa fa-truck"></i> 二手农机
        </div>
    </a>
</div>
