<div class="header">
    <table>
        <tr>
            <td style="width: 2.5em; text-align: left;padding-left: 1em;">
                @if (ViewBag.Back)
                {
                    <a href="javascript: history.go(-1);"><i class="fa icon fa-chevron-left"></i></a>
                }
                &nbsp;
            </td>
            <td style="text-align: center">@ViewBag.Title</td>
            <td style="width: 2.5em; text-align: right;padding-right:1em;text-overflow:ellipsis;">&nbsp;
                @if (ViewBag.Refresh)
                {
                    <a href="javascript: location.reload() "><i class="fa icon fa-repeat"></i></a>
                }
                @if (ViewBag.Menu)
                {
                    <a href="javascript: popMenu()"><i class="fa icon fa-list"></i></a>
                }
                @if (ViewBag.Add)
                {
                    <a href="@ViewBag.Url"><i class="fa icon fa-plus"></i></a>
                }
            </td>
        </tr>
    </table>
</div>
