<div class="nav">
    <table class="nav-table">
        <tr>
            <td>
                <a href="#">
                    <i class="fa nav-icon fa-tasks"></i><br /><span class="nav-txt">商品</span>
                </a>
            </td>
            <td>
                <a href="#">
                    <i class="fa nav-icon fa-shopping-cart"></i><br /><span class="nav-txt">购物车</span>
                </a>
            </td>
            <td>
                <a href="#">
                    <i class="fa nav-icon fa-user"></i><br /><span class="nav-txt">我的</span>
                </a>
            </td>
        </tr>
    </table>
</div>