@{
    ViewBag.Title = "本地通";
    ViewBag.Back = true;
    ViewBag.Refresh = true;
}
@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <div class="search">
        <input type="text" class="textbox" id="txtTitle" placeholder="搜索消息" />
        <a href="javascript:$('#lstLocals').html('');p=0;lock=false;Load();"><i class="fa fa-search" style="color: orange;float:right;font-size:1.4em"></i></a>
    </div>
    <div id="lstLocals"></div>
</div>

<script>
    id = @Html.ViewContext.RouteData.Values["id"];
</script>