@model IEnumerable<Provider>
@{
    ViewBag.Back = true;
    ViewBag.Add = true;
    ViewBag.Url = "/Mobile/Member/Join2";
    ViewBag.Title = "加盟申请";
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")

<div class="wrap-cont">
    @foreach (var p in Model)
    {
        <div class="list-outer">
            @p.Title <br />
            审核状态：审核中
        </div>
    }
    @if (Model.Count() == 0)
    {
        <div class="no-more">没有加盟申请记录</div>
    }
</div>