
@{
    ViewBag.Title = "我的订单";
    ViewBag.Back = true;
    ViewBag.Refresh = true;
}
@using (Html.BeginForm("Cancel", "Member", null, FormMethod.Post, new { id = "frmCancel" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="CancelOrderID" />
}
@using (Html.BeginForm("Verify", "Member", null, FormMethod.Post, new { id = "frmVerify" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="VerifyOrderID" />
}
@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont" id="lstOrders">
</div>