@{
    ViewBag.Title = "我的农机服务信息";
    ViewBag.Back = true;
    ViewBag.Add = true;
    ViewBag.Url = "/Mobile/Member/CreateService";
}
@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
@using (Html.BeginForm("DeleteService", "Member", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="DeleteServiceID" />
}
<div class="wrap-cont" id="lstMyServices">
</div>