@model IEnumerable<Catalog>
@{
    ViewBag.Back = true;
    ViewBag.Refresh = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")

<div class="wrap-cont">
    @foreach (var c in Model)
    {
        <a href="/Mobile/Mobile/Catalog/@c.ID">
            <div class="list-outer">@c.Title</div>
        </a>
    }
</div>

@if (ViewBag.ShopNav)
{
    @Html.Partial("~/Areas/Mobile/Views/Shared/ShopNav.cshtml")
}
