
@{
    ViewBag.Title = "Index";
    ViewBag.Back = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="container"></div>
@Html.Partial("~/Areas/Mobile/Views/Shared/ShopNav.cshtml");