
@{
    ViewBag.Title = "登录";
    ViewBag.Back = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")

<div class="wrap-cont">
    @using (Html.BeginForm("Login", "Mobile", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="textbox-outer">
            <input type="text" name="Username" placeholder="用户名/手机号" class="textbox" />
        </div>
        <div class="textbox-outer">
            <input type="password" name="Username" placeholder="密码" class="textbox" />
        </div>
        <a href="javascript: $('form').submit();">
            <div class="btn">登录</div>
        </a>
    }

    <p class="sub-menu">
        <a href="/Mobile/Mobile/Register" style="float: left;">新用户注册</a>
        <a href="#" style="float: right;">忘记密码</a>
    </p>
</div>