
@{
    ViewBag.Title = "提示信息";
    ViewBag.Back = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <div class="container">
        <div class="info">
            @ViewBag.Msg
        </div>
    </div>
</div>