@{
    ViewBag.Title = "新用户注册";
    ViewBag.Back = true;
}

@Html.Partial("~/Areas/Mobile/Views/Shared/Header.cshtml")
<div class="wrap-cont">
    <div class="textbox-outer">
        <div class="field">用户名</div>
        <input type="text" name="Username" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">密码</div>
        <input type="password" name="Password" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">密码重复</div>
        <input type="password" name="Confirm" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">省</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">市</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">区县</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">乡镇</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">村</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">屯</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">详细地址</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">密码提示问题</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <div class="textbox-outer">
        <div class="field">密码问题答案</div>
        <input type="text" name="Province" class="textbox form" />
    </div>
    <a href="#">
        <div class="btn">同意服务条款并注册</div>
    </a>
    <p class="sub-menu">
        <a href="#" style="float: left;">服务条款</a>
    </p>
</div>